{[include file="../public/head.html"]}
      <div class="content-box-header">
        <h3>权限管理</h3>
        <ul class="content-box-tabs">
          <li><a href="#tab1">权限管理</a></li>
          <li><a href="#tab2" class="default-tab">权限修改</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content" id="tab1">
{[include file="../public/message.html"]}
          <table>
            <thead>
              <tr>
                <th>权限ID</th>
                <th>权限名</th>
                <th>控制器</th>
				<th>执行器</th>
				<th>角色名</th>
				<th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="6">
                  <div class="pagination">{[$page]}</div>
                  <div class="clear"></div>
                </td>
              </tr>
            </tfoot>
            <tbody>
			{[if isset($list)]}
			{[foreach from=$list item=i]}
            <tr>
                <td>{[$i.acl_id]}</td>
                <td>{[$i.acl_name]}</td>
                <td>{[$i.acl_controller]}</td>
				<td>{[$i.acl_action]}</td>
				<td>{[$i.role_name]}</td>
                <td>
                  <a href="{['edit'|Url]}&id={[$i.acl_id]}" title="编辑"><img src="{[$ROOT]}static/images/icons/pencil.png" alt="编辑" /></a>
				  <a href="javascript:cf('{['delete'|Url]}&id={[$i.acl_id]}')" title="删除"><img src="{[$ROOT]}static/images/icons/cross.png" alt="删除" /></a>
				</td>
            </tr>
			{[/foreach]}
			{[/if]}
            </tbody>
          </table>
        </div>
        <div class="tab-content default-tab" id="tab2">
			<form action="{['edit'|Url]}" method="post" onsubmit="return check(this)">
			<fieldset>
			<input type="hidden" name="id" value="{[$result.acl_id]}"/>
            <p>
              权 限 名 <input class="text-input small-input" type="text" id="small-input" name="name" value="{[$result.acl_name]}"/>
			</p>
            <p>
              控 制 器 <input class="text-input small-input" type="text" id="small-input" name="controller" value="{[$result.acl_controller]}"/>
			</p>
            <p>
              执 行 器 <input class="text-input small-input" type="text" id="small-input" name="action" value="{[$result.acl_action]}"/>
			</p>
            <p>
              角色访问
              <select name="role_id" class="small-input">
				{[if isset($role)]}
				{[foreach from=$role item=i]}
                <option value="{[$i.role_id]}" {[if $i.role_id==$result.acl_role_id]}selected{[/if]}>{[$i.role_name]}</option>
				{[/foreach]}
				{[/if]}
              </select>
            </p>
            <p>
              <input class="button" type="submit" value="修 改" />
            </p>
            </fieldset>
			</form>
            <div class="clear"></div>
        </div>
      </div>
{[include file="../public/foot.html"]}
<script type="text/javascript">
function check(thisform)
{with(thisform){
	if(name.value==''){
		name.focus();
		return false;
	}
	if(controller.value==''){
		controller.focus();
		return false;
	}
	if(action.value==''){
		action.focus();
		return false;
	}
	return true;
}
}

function cf(url)
{
	if(!confirm('确定要删除该访问权限吗？')) return false;
	location = url;
}
</script>